body {
    margin: 0px;
}

#yCoordBS {
    position: fixed;
    top: 2%;
    right: 2%;
    background-color: blue;
    color: white;
    height: 50px;
    width: 100px;
    border-radius: 25px;
}

#xCoordBS {
    position: fixed;
    top: 2%;
    right: 10%;
    background-color: red;
    color: white;
    height: 50px;
    width: 100px;
    border-radius: 25px;
}

#yCoordBE {
    position: fixed;
    top: 16%;
    right: 2%;
    background-color: blue;
    color: white;
    height: 50px;
    width: 100px;
    border-radius: 25px;
}

#xCoordBE {
    position: fixed;
    top: 16%;
    right: 10%;
    background-color: red;
    color: white;
    height: 50px;
    width: 100px;
    border-radius: 25px;
}

#colorB {
    position: fixed;
    top: 28%;
    right: 6%;
    background-color: red;
    color: white;
    height: 50px;
    width: 100px;
    border-radius: 25px;
}

#drawB {
    position: fixed;
    top: 40%;
    right: 6%;
    background-color: red;
    color: white;
    height: 50px;
    width: 100px;
    border-radius: 25px;
}